img{
    width: 1349px;
    height: 500px;
    
}
body{
    margin: 0;

    }
h1{
    letter-spacing: 1px;
}
#caixa {
    background-color: rgba(238, 232, 232, 0.63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
#teste {
    background-color: rgba(163, 245, 81, 0.144);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1px;
}

